@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next'), local('AvenirNext-Regular'), url('../assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Bold'), local('AvenirNext-Bold'), url('../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
